*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.html {
    scroll-behavior: smooth;
}

.body{
    scroll-behavior: smooth;
}


#background{
    /* Log In */
    position: relative;
    width: 1280px;
    height: 762px;

    background: white;
}

#topDiv{
    position: absolute;
    top: 10%;
    width: 100%;
    height: 20%;
}

#logo{
    position: absolute;
    height: 60%;
    width: 6%;
    left: 46.5%;
}

#topText{
    position: absolute;
    width: 391px;
    height: 60px;
    left: 449px;
    top: 119px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 60px;
    /* identical to box height */


    color: #100268;
}

#bottomText{
    position: absolute;
    width: 577px;
    height: 25px;
    left: 350px;
    top: 204px;
    text-align: center;

    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */


    color: #100268;

}

#middleDiv{
    position: absolute;;
    top: 5%;
}

#personal{
    position: absolute;
    width: 125px;
    height: 16px;
    left: 578px;
    top: 314px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-align: center;

    color: #100268;
}

#purpBar{
    position: absolute;
    width: 164px;
    height: 6px;
    left: 381px;
    top: 343px;

    background: #0B35CA;
    border-radius: 5px;
}

#bar{
    position: absolute;
    width: 164px;
    height: 6px;
    left: 558px;
    top: 343px;

    background: #C4C4C4;
    border-radius: 5px;
}

#bar2{
    position: absolute;
    width: 164px;
    height: 6px;
    left: 735px;
    top: 343px;

    background: #C4C4C4;
    border-radius: 5px;
}

#infoDiv{
    position: absolute;
    top: 10%;
}

#firstName{
    position: absolute;
    
    height: 16px;
    left: 370px;
    top: 351px;
    width: 100px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #100268;

}

#firstNameInput:focus{
    outline: none;
    border: 1px solid #0B35CA;
    box-shadow: 0px 0px 0px 4px rgba(11, 53, 202, 0.17);
}

#lastName{
    position: absolute;
    height: 16px;
    left: 636px;
    top: 351px;
    width: 100px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-align: center;

    color: #100268;
}

#lastNameInput:focus{
    outline: none;
    border: 1px solid #0B35CA;
    box-shadow: 0px 0px 0px 4px rgba(11, 53, 202, 0.17);
}

#plan{
    position: absolute;
    height: 16px;
    width: 300px;
    left: 384px;
    top: 463px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-align: center;

    color: #100268;
}

#shoppingButton{
    position: absolute;
    width: 160px;
    height: 45px;
    left: 384px;
    top: 489px;
    background: white;
    color: #100268;

    border: 0.5px solid #100268;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
}

#shoppingButton:hover{
    cursor: pointer;
    background: #1D4EFF;
    color: white;
    border: none;
}

#healthcareButton{
    position: absolute;
    width: 160px;
    height: 45px;
    left: 563px;
    top: 489px;
    background: white;
    color: #100268;

    border: 0.5px solid #100268;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
}

#healthcareButton:hover{
    cursor: pointer;
    background: #1D4EFF;
    color: white;
    border: none;
}

#otherButton{
    position: absolute;
    width: 160px;
    height: 45px;
    left: 742px;
    top: 489px;
    background: white;
    color: #100268;

    border: 0.5px solid #100268;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
}

#otherButton:hover{
    cursor: pointer;
    background: #1D4EFF;
    color: white;
    border: none;
}



#nextButton{
    position: absolute;
    width: 518px;
    height: 45px;
    left: 384px;
    top: 455px;
    color: white;
    border: none;
    font-size: 16px;
    background: linear-gradient(90deg, #0B35CA 0%, #1D0776 100%);
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
}

#nextButton:hover{
    background: linear-gradient(90deg, #0B35CA 0%, #1D0776 100%);
    box-shadow: 0px 0px 10px 0.5px rgba(11, 53, 202, 0.22);
    cursor: pointer;
    color: white;
    border: none;
}

#firstNameInput{
    position: absolute;
    width: 250px;
    height: 45px;
    left: 384px;
    top: 377px;
    text-indent: 5%;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #100268;

    border: 0.5px solid #100268;
    border-radius: 5px;
}

#lastNameInput{
    position: absolute;
    width: 250px;
    height: 45px;
    left: 652px;
    top: 377px;
    text-indent: 5%;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #100268;

    border: 0.5px solid #100268;
    border-radius: 5px;
}