* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow: hidden;
}

body {
  scroll-behavior: smooth;
  width: 1280px;
  height: 762px;
}

#ready {
  position: absolute;
  width: 537px;
  height: 50px;
  left: 373px;
  top: 478px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  text-align: center;

  color: #100268;
}

#congrats {
  position: absolute;
  width: 580px;
  height: 60px;
  left: 370px;
  top: 196px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 60px;
  /* identical to box height */
  color: #100268;
}

/* saturn 1 */
#logo {
  position: absolute;
  width: 55px;
  height: 55px;
  left: 613px;
  top: 91px;
}

#ellipse2 {
  position: absolute;
  width: 158px;
  height: 149px;
  left: 561px;
  top: 269px;
}

#done {
  position: absolute;
  width: 518px;
  height: 45px;
  left: 381px;
  top: 622px;

  background: linear-gradient(90deg, #0B35CA 0%, #1D0776 100%);
  border-radius: 5px;
  outline: none;
  border: none;
}

#done:hover{
  box-shadow: 0px 0px 10px 0.5px rgba(11, 53, 202, 0.22);
}

#done1 {
  border: none;
  outline: none;
  position: absolute;
  width: 41px;
  height: 22px;
  left: 619px;
  top: 634px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */

  color: #ffffff;
}

#bottomLeftRect {
  position: absolute;
  width: 164px;
  height: 6px;
  left: 381px;
  top: 587px;

  background: #0B35CA;
  ;
  border-radius: 5px;
}

#bottomMiddleRect {
  position: absolute;
  width: 164px;
  height: 6px;
  left: 558px;
  top: 587px;

  background: #0B35CA;
  border-radius: 5px;
}

#bottomRightRect {
  position: absolute;
  width: 164px;
  height: 6px;
  left: 735px;
  top: 587px;

  background: #0B35CA;
  border-radius: 5px;
}
#finish {
  position: absolute;
  height: 16px;
  left: 606px;
  top: 558px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-align: center;

  color: #100268;
}
