* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow: hidden;
}

body {
  scroll-behavior: smooth;
  width: 1000px;
  height: 762px;
  left: -0px;
  background: linear-gradient(0deg, #100268, #100268);
}
button {
  outline: none;
}

input {
  outline: none;
  padding: 15px;
}

input:focus {
  border: 1px solid #0b35ca;
  box-sizing: border-box;
  box-shadow: 0px 0px 0px 3px rgba(11, 53, 202, 0.1);
}

#bottomDiv {
  position: absolute;
  width: 100%;
  height: 10%;
  bottom: 00%;
  left: 0%;
  background: white;
}

#activity {
  position: absolute;
  left: 9.93%;
  right: 80.15%;
  top: 58.11%;
  bottom: 21.62%;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 15px;
  /* identical to box height */
  text-align: center;
  color: rgba(16, 2, 104, 0.5);
}

#activityLogo {
  position: absolute;
  left: 12.59%;
  right: 82.57%;
  top: 27.28%;
  bottom: 5%;
}

#yourData1 {
  position: absolute;
  left: 28.5%;
  right: 56.66%;
  top: 58.11%;
  bottom: 21.62%;
  width: 75px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 15px;
  /* identical to box height */

  text-align: center;
  color: rgba(16, 2, 104, 0.5);
}

#yourDataLogo {
  position: absolute;
  left: 35.11%;
  right: 60.05%;
  top: 27.28%;
  bottom: 5.01%;
}

#requests {
  position: absolute;
  left: 57.14%;
  right: 31.72%;
  top: 58.11%;
  bottom: 21.62%;

  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 15px;
  /* identical to box height */

  text-align: center;
  color: rgb(16, 2, 104);
}

#requestsLogo {
  position: absolute;
  width: 18px;
  height: 20px;
  left: 251px;
  top: 27.28%;
}

#settings {
  position: absolute;
  left: 78.93%;
  right: 11.38%;
  top: 57.5%;
  bottom: 22.97%;

  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 15px;
  /* identical to box height */
  text-align: center;
  color: rgba(16, 2, 104, 0.5);
}

#settingsLogo {
  position: absolute;
  left: 81.6%;
  right: 13.56%;
  top: 27.28%;
  bottom: 5.15%;
}

#done {
  position: absolute;
  width: 352px;
  height: 43px;
  left: 31px;
  top: 487px;

  font-family: "Poppins", sans-serif;
  background: #0b35ca;
  border-radius: 5px;
  color: white;
  border: none;
  outline: none;
}

#done:hover {
  cursor: pointer;
  background: #2353fc;
  color: white;
}

#done:focus {
  background: #0b35ca;
  color: white;
  border: none;
  outline: none;
  box-shadow: 0px 0px 0px 3px rgba(142, 166, 255, 0.377);
}

#title {
  position: absolute;
  width: 298px;
  height: 36px;
  left: 58px;
  top: 97px;

  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */

  text-align: center;

  color: white;
}
#mid {
  position: absolute;
  width: 325px;
  height: 66px;
  left: 44px;
  top: 369px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  text-align: center;

  color: white;
}

#checkMark {
  position: absolute;
  width: 120px;
  height: 120px;
  left: 147px;
  top: 197px;
}
