* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
    overflow: hidden;
  }
  
button {
    outline: none;
  }
  
input {
    outline: white;
    padding: 15px;
    background: none;
    color: white;
  }
  
input:focus {
    border: 1px solid #0b35ca;
    box-sizing: border-box;
    box-shadow: 0px 0px 0px 3px rgba(11, 53, 202, 0.1);
  }
  

body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, #0A0141 0%, #100268 95.83%);
    border-radius: 20px;
}

#title{
    position: absolute;
    width: 212px;
    height: 42px;
    left: 31px;
    top: 37px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 42px;
    /* identical to box height */
    
    text-align: center;
    
    color: #FFFFFF;
}

#bottomDiv{
    position: absolute;
    width: 100%;
    height: 10%;
    top:90%;
    left: 0%;
    background: white;
}


#activity{
    position: absolute;
    left: 9.93%;
    right: 80.15%;
    top: 58.11%;
    bottom: 21.62%;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 15px;
    /* identical to box height */

    text-align: center;

    color: rgba(17, 3, 107, 0.5);
}

#activityLogo{
    position: absolute;
    left: 12.59%;
    right: 82.57%;
    bottom: 38px;
}

#yourData{
    position: absolute;
    width: 144px;
    height: 42px;
    left: 31px;
    top: 35px;

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 42px;
    /* identical to box height */

    text-align: center;

    color:white;

}

#yourDataLogo{
    position: absolute;
    left: 35.11%;
    right: 60.05%;
    top: 22.58%;
    bottom: 5.01%;
}

#requests{
    position: absolute;
    left: 57.14%;
    right: 31.72%;
    top: 58.11%;
    bottom: 21.62%;

    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 15px;
    /* identical to box height */

    text-align: center;

    color: rgba(17, 3, 107, 0.5);

}

#requestsLogo{

position: absolute;
left: 60.77%;
right: 34.87%;
top: 22.97%;
bottom: 50%;
}

#settings{
    position: absolute;
left: 78.93%;
right: 11.38%;
top: 56.76%;
bottom: 22.97%;

font-family: Poppins;
font-style: normal;
font-weight: 300;
font-size: 10px;
line-height: 15px;
/* identical to box height */

text-align: center;

color: rgba(17, 3, 107, 0.5);

}

#settingsLogo{
    position: absolute;
    left: 81.6%;
    right: 13.56%;
    top: 21.62%;
    bottom: 51.35%;

}

#dataUpdate1{
    position: absolute;
    width: 118px;
    height: 16px;
    left: 98px;
    top: 135px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;

    color: #FFFFFF;
}

#dataUpdate2{
    position: absolute;
    width: 118px;
    height: 16px;
    left: 98px;
    top: 317px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;

    color: #FFFFFF;
}

#yourData1{
    position: absolute;
    left: 28.5%;
    right: 56.66%;
    top: 58.11%;
    bottom: 21.62%;
    width: 75px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 15px;
    /* identical to box height */

    text-align: center;
    color: blue;
}

#submit{
    position: absolute;
    width: 352px;
    height: 43px;
    left: 31px;
    top: 466px;
    
    background: #07C8A5;
    border-radius: 5px;
    color: white;
}

#submit:hover{
    cursor:pointer;
    background: #039c80
}

#aspirinCount{
    position: absolute;
    width: 182px;
    height: 27px;
    left: 98px;
    top: 108px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    
    
    color: #FFFFFF;
}

#covidSymbol{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 31px;
    top: 110px;
}

#covidSymbol2{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 31px;
    top: 292px;
}

#bottleNo{
    position: absolute;
    width: 252px;
    height: 16px;
    left: 31px;
    top: 191px;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    
    color: #FFFFFF;
}

#aspirinInput{
    position: absolute;
    width: 352px;
    height: 42px;
    left: 31px;
    top: 217px;
    
    border: 1px solid #FFFFFF;
    border-radius: 5px;
}

#vitInput{
    position: absolute;
    width: 352px;
    height: 42px;
    left: 31px;
    top: 391px;

    border: 1px solid #FFFFFF;
    border-radius: 5px;
}

#dataUpdate{
    position: absolute;
    width: 118px;
    height: 16px;
    left: 98px;
    top: 135px;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    
    color: #FFFFFF;
}
#VitD{
    position: absolute;
    width: 214px;
    height: 27px;
    left: 98px;
    top: 290px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    
    
    color: #FFFFFF;
}
#VitD2{
    position: absolute;
    width: 269px;
    height: 16px;
    left: 31px;
    top: 365px;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    
    color: #FFFFFF;
}